<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="signup.css">
    <link rel="icon" href="Images/frame_photo_picture_portrait_members_memories-512.png">
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/sign" method="post">
        <label for="name"><b>Name:</b></label>
        <input type="text" id="name" name="name" placeholder="Enter your name">
        <label for="email"><b>Email:</b></label>
        <input type="email" id="email" name="email" placeholder="Enter your Email">
        <label for="date"><b>DOB:</b></label>
        <input type="date" id="date" name="date" placeholder="Enter your Date-of-birth">
        <label for="password"><b>Password:</b></label>
        <input type="password" id="password" name="password" placeholder="Enter your password">
        <button>SignUp</button>
    </form>
</body>
</html>